
<table class="cv-table cite-table">
{% for item in include.publications %}

{% capture citation %}
{% reference {{ item.BIBTEXKEY }} %}
{% endcapture %}
{% assign citation = citation | remove: "(missing reference)" %}
{% assign citation = citation | replace: "Villarreal, Dan", "<b>Villarreal, Dan</b>" | replace: "Dan Villarreal", "<b>Dan Villarreal</b>" %}

{% capture postcite %}
<div class="postcite">
{%- if item.URL -%}
{%- unless (item.heading != "Open research tools" and item.DOI) or item.URL == "NA" -%}
{%- assign urls = item.URL | split: "|" -%}
{%- for url in urls -%}
<a href="{{ url }}" target="_blank">{{ url }}</a>{%- unless forloop.last -%},{%- endunless -%}&#32;
{%- endfor -%}
{%- endunless -%}
{%- endif -%}
{%- if item.FILE -%}<a href="{{ item.FILE }}" target="_blank"><img src="/images/fa-file-pdf.svg" title="View full-text PDF" alt="pdf" /></a>&#32; {%- endif -%}
{%- if item.DOI -%}<a href="https://doi.org/{{ item.DOI }}" target="_blank">[publisher]</a>&#32;{%- endif -%}
{%- if item.repo -%}<a href="{{ item.repo | remove: "\" | replace: "@", "#" }}">[github]</a>&#32; {%- endif -%}
{%- if item.data -%}<a href="{{ item.data }}" target="_blank">[data]</a>&#32; {%- endif -%}
{%- if item.ABSTRACT -%}
<a class="abstract-link">[abstract]</a>
<div class="abstract" style="display: none;">{{ item.ABSTRACT }}</span>
{%- endif -%}


</div>
{% endcapture %}

<tr>
<td>{{ item.YEAR | replace: "forthcoming", "forth-coming" }}</td>
<td>
{{ citation }} {{ postcite }}
</td>
</tr>
{% endfor %}
</table>
