
<table class="cv-table cite-table">
{% for item in include.publications %}

{% capture citation %}
{% reference {{ item.BIBTEXKEY }} %}
{% endcapture %}

{% assign citation = citation | remove: "(missing reference)" %}
{% assign citation = citation | replace: "Villarreal, Dan", "<b>Villarreal, Dan</b>" | replace: "Dan Villarreal", "<b>Dan Villarreal</b>" %}
{% assign citation = citation | replace: "**", "<span class='tooltip' title='undergraduate co-author'>\*\*</span>" %}
{% assign citation = citation | replace: "a*,", "a\*<span class='tooltip' title='graduate student co-author'></span>," | replace: "b*,", "b<span class='tooltip' title='graduate student co-author'>\*</span>," | replace: "c*,", "c<span class='tooltip' title='graduate student co-author'>\*</span>," | replace: "d*,", "d\<span class='tooltip' title='graduate student co-author'>*</span>," | replace: "e*,", "e<span class='tooltip' title='graduate student co-author'>\*</span>," | replace: "f*,", "f<span class='tooltip' title='graduate student co-author'>\*</span>," | replace: "g*,", "g<span class='tooltip' title='graduate student co-author'>\*</span>," | replace: "h*,", "h<span class='tooltip' title='graduate student co-author'>\*</span>," | replace: "i*,", "i<span class='tooltip' title='graduate student co-author'>\*</span>," | replace: "j*,", "j<span class='tooltip' title='graduate student co-author'>\*</span>," | replace: "k*,", "k<span class='tooltip' title='graduate student co-author'>\*</span>," | replace: "l*,", "l<span class='tooltip' title='graduate student co-author'>\*</span>," | replace: "m*,", "m<span class='tooltip' title='graduate student co-author'>\*</span>," | replace: "n*,", "n<span class='tooltip' title='graduate student co-author'>\*</span>," | replace: "o*,", "o<span class='tooltip' title='graduate student co-author'>\*</span>," | replace: "p*,", "p<span class='tooltip' title='graduate student co-author'>\*</span>," | replace: "q*,", "q<span class='tooltip' title='graduate student co-author'>\*</span>," | replace: "r*,", "r<span class='tooltip' title='graduate student co-author'>\*</span>," | replace: "s*,", "s<span class='tooltip' title='graduate student co-author'>\*</span>," | replace: "t*,", "t<span class='tooltip' title='graduate student co-author'>\*</span>," | replace: "u*,", "u<span class='tooltip' title='graduate student co-author'>\*</span>," | replace: "v*,", "v<span class='tooltip' title='graduate student co-author'>\*</span>," | replace: "w*,", "w<span class='tooltip' title='graduate student co-author'>\*</span>," | replace: "x*,", "x<span class='tooltip' title='graduate student co-author'>\*</span>," | replace: "y*,", "<span class='tooltip' title='graduate student co-author'>y\*</span>," | replace: "z*,", "<span class='tooltip' title='graduate student co-author'>z\*</span>," | replace: "a*.", "<span class='tooltip' title='graduate student co-author'>a\*</span>." | replace: "b*.", "b<span class='tooltip' title='graduate student co-author'>\*</span>." | replace: "c*.", "c<span class='tooltip' title='graduate student co-author'>\*</span>." | replace: "d*.", "d<span class='tooltip' title='graduate student co-author'>\*</span>." | replace: "e*.", "e<span class='tooltip' title='graduate student co-author'>\*</span>." | replace: "f*.", "f<span class='tooltip' title='graduate student co-author'>\*</span>." | replace: "g*.", "g<span class='tooltip' title='graduate student co-author'>\*</span>." | replace: "h*.", "h<span class='tooltip' title='graduate student co-author'>\*</span>." | replace: "i*.", "i<span class='tooltip' title='graduate student co-author'>\*</span>." | replace: "j*.", "j<span class='tooltip' title='graduate student co-author'>\*</span>." | replace: "k*.", "k<span class='tooltip' title='graduate student co-author'>\*</span>." | replace: "l*.", "l<span class='tooltip' title='graduate student co-author'>\*</span>." | replace: "m*.", "m<span class='tooltip' title='graduate student co-author'>\*</span>." | replace: "n*.", "n<span class='tooltip' title='graduate student co-author'>\*</span>." | replace: "o*.", "o<span class='tooltip' title='graduate student co-author'>\*</span>." | replace: "p*.", "p<span class='tooltip' title='graduate student co-author'>\*</span>." | replace: "q*.", "q<span class='tooltip' title='graduate student co-author'>\*</span>." | replace: "r*.", "r<span class='tooltip' title='graduate student co-author'>\*</span>." | replace: "s*.", "s<span class='tooltip' title='graduate student co-author'>\*</span>." | replace: "t*.", "t<span class='tooltip' title='graduate student co-author'>\*</span>." | replace: "u*.", "u<span class='tooltip' title='graduate student co-author'>\*</span>." | replace: "v*.", "v<span class='tooltip' title='graduate student co-author'>\*</span>." | replace: "w*.", "w<span class='tooltip' title='graduate student co-author'>\*</span>." | replace: "x*.", "x<span class='tooltip' title='graduate student co-author'>\*</span>." | replace: "y*.", "y<span class='tooltip' title='graduate student co-author'>\*</span>." | replace: "z*.", "z<span class='tooltip' title='graduate student co-author'>\*</span>." %}


{% capture postcite %}
<div class="postcite">
{%- if item.URL -%}
{%- unless (item.heading != "Open research tools" and item.DOI) or item.URL == "NA" -%}
{%- assign urls = item.URL | split: "|" -%}
{%- for url in urls -%}
<a href="{{ url }}" target="_blank">{{ url }}</a>{%- unless forloop.last -%},{%- endunless -%}&#32;
{%- endfor -%}
{%- endunless -%}
{%- endif -%}
{%- if item.FILE -%}<a href="{{ item.FILE }}" target="_blank"><img src="/images/fa-file-pdf.svg" title="View full-text PDF" alt="pdf" /></a>&#32; {%- endif -%}
{%- if item.DOI -%}<a href="https://doi.org/{{ item.DOI }}" target="_blank">[publisher]</a>&#32;{%- endif -%}
{%- if item.repo -%}<a href="{{ item.repo | remove: "\" | replace: "@", "#" }}">[github]</a>&#32; {%- endif -%}
{%- if item.data -%}<a href="{{ item.data }}" target="_blank">[data]</a>&#32; {%- endif -%}
{%- if item.ABSTRACT -%}
<a class="abstract-link">[abstract]</a>
<div class="abstract" style="display: none;">{{ item.ABSTRACT }}</span>
{%- endif -%}


</div>
{% endcapture %}

<tr>
<td>{{ item.YEAR | replace: "forthcoming", "forth-coming" }}</td>
<td>
{{ citation }} {{ postcite }}
</td>
</tr>
{% endfor %}
</table>
